@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-barlow);
}
:root {
  /* Colors */

  --background-color: #ffff;
  --text-color: #525050;
  --light-green-color: #e5f9bd;
  --medium-green-color: #a0e418;
  --dark-green-color: #7fb414;

  /* font family*/

  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
#main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero {
  width: 100%;
  height: 100vh;
  font-family: var(--font-barlow);
  overflow: hidden;
  position: relative;
}
.hero nav {
  width: 100%;
  height: 100px;
  padding: 20px 50px;
  position: fixed;
  z-index: 9999;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px) saturate(177%);
  -webkit-backdrop-filter: blur(2px) saturate(177%);
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
nav h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
  text-transform: uppercase;
}
nav h1::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 10px;
  background-image: url(./imges/Vector\ 3.svg);
  bottom: 25px;
  background-position: center;
  background-size: cover;
}
.nav .nav-items {
  width: 100%;
  height: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-right: 0px;
}
nav ul li a {
  color: var(--text-color);
  font-size: 14px;
  display: flex;
  align-items: center;
} 
nav li img {
  width: 50px;
  height: 30px;
}
.hero .hero-container {
  width: 100%;
  height: calc(100% - 100px);
  background-color: rgb(255, 255, 255);
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container .left {
  margin-top: 150px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hero-container.left .name-text {
  font-size: 45px;
  word-wrap: break-word;
  letter-spacing: 2px;
}
.hero-container.left span {
  color: var(--medium-green-color);
}
.car-text {
  font-size: 35px;
  color: var(--medium-green-color);
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.hero-container .right {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.hero-img {
  position: absolute;
  width: 600px;
  height: 680px;
  top: 0;
  z-index: 9;
}

.btn {
  background-color: var(--medium-green-color);
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  color: var(--background-color);
  font-weight: 600;
  transition: all 0.4s ease;
  width: 100px;
}
.btn-contact {
  padding: 5px 10px;
  padding-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-hire {
  margin-top: 20px;
  padding: 15px 25px;
}
.btn:hover {
  background-color: #a0e418e4;
  transform: scale(0.9);
}
.custom-cursor {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}
.about-section {
  position: relative;
  width: 95%;
  height: 500px;
  background-color: var(--light-green-color);
  border-radius: 30px;
  margin-bottom: 30px;
}
.about-section .about-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .right {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
}
.about-section .right h1 {
  color: var(--text-color);
}
.about-section .right h1::before {
  content: "";
  top: 100px;
  position: absolute;
  width: 110px;
  height: 10px;
  background-image: url(./imges/Vector\ 3.svg);
  bottom: 25px;
  background-position: center;
  background-size: cover;
}
.about-section .right p {
  word-wrap: break-word;
  word-break: break-all;
  width: 90%;
}

.about-section .left img {
  width: 300px;
  height: 350px;
}
.about-section .left .btn-resume {
  padding: 10px 14px;
  width: none;
}

.skill-section {
  position: relative;
  width: 100%;
  height: 90vh;
}
.skill-section h1 {
  color: var(--text-color);
  text-align: center;
  margin-top: 20px;
}
.skill-section h1::before {
  content: "";
  position: absolute;
  width: 80px;
  top: 9.5%;
  height: 10px;
  background-image: url(./imges/Vector\ 3.svg);
  bottom: 25px;
  background-position: center;
  background-size: cover;
}
.skill-section .skill-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.skill-container .left {
  width: 50%;
  height: 100%;
  padding: 40px 50px;
}
.skill-container .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.left .skill-left-content {
  width: 100%;
  padding-top: 50px;
}
.skill-left-content h2 {
  color: #525050;
  font-size: 23px;
}
.skill-left-content .skill-txt {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}
.skill-txt li {
  background-color: var(--light-green-color);
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.skill-txt li:hover {
  background-color: var(--medium-green-color);
  color: #ffff;
}
.skill-container .right {
}
.skill-container .right img {
  width: 500px;
}
.project-section {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 20px 50px;
}
.project-section h1 {
  color: var(--text-color);
  text-align: center;
}
.project-section h1::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 10px;
  background-image: url(./imges/Vector\ 3.svg);
  top: 58px;
  background-position: center;
  background-size: cover;
}
.project-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.project-section .project-content .project-img {
  width: 300px;
  height: 300px;
  background-color: #e5f9bd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.project-img img {
  width: 250px;
  height: 200px;
}
.contact-section {
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  padding: 20px 50px;
}
.contact-section h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--text-color);
}
.contact-section .contact-container {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: var(--medium-green-color);
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 50px;
}
.contact-container .left {
  width: 50%;
  height: 100%;

}

.contact-container .right {
  width: 50%;
  height: 100%;
}
.contact-container .contact-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-form {
  width: 60%;
  height: 100%;
  margin-top: 20px;
  color: #181818;
}
input {
  width: 100%;
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}
textarea {
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
  resize: none;
  padding: 10px;
}

.contact-form button {
  background-color: var(--background-color);
  color: var(--medium-green-color);
  margin: 10px 0 0 0;
}
.contact-form button:hover{
  background-color: var(--background-color);
}
.footer{
  width: 100%;
  height: 50vh;
  margin-top: 20px;
  background-color: #e9e9eb;


}
.footer .footer-container{
  width: 100%;
  height: calc(50vh - 60px);
  display: flex;
  padding: 30px 50px;
}
.footer .left{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .left h1{
  font-size: 40px;
  text-transform: uppercase;
 
  color: #525050;
}
.footer .left h1::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 10px;
  background-image: url(./imges/Vector\ 3.svg);
  bottom: 0px;
  background-position: center;
  background-size: cover;
}
.footer .left h3{
  font-size: 20px;
  width: 50%;
}
.footer .right{
  width: 50%;
  height: 100%;
  padding-right: 30px;
}
.footer .right .footer-nav-items{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 20px;
  text-transform: uppercase;
 
}
.footer-nav-items li a{
font-size: 17px;
font-weight: bold;
color: gray;
}
.footer-end{
  width: 100%;
  height: 100%;
background-color: #addb53;
width: 100%;
height:60px ;
display: flex;
justify-content: space-between;
align-items: center;
color: #1b1b1c;
padding: 0px 50px;
}
.footer-end .left, .footer-end .right{
  width: 50%;
  height: 100%;
  
}
.footer-end .left{
  display: flex;
  justify-content: center;

}
.footer-end .right{
  display: flex;
  justify-content: end;
  align-items: center ;

}



